@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(20deg, rgba(255,255,255,1) 18%, rgba(92,228,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pokedex {
    width: 90vw;
    max-width: 425px;
}

.pokemon__data {
    width: 200px;
    text-align: right;
    position: absolute;
    margin-top: 6.2rem;
    margin-left: 0.9vw;
    color: #8f8f8f;
    font-weight: 600;
}

.pokemon__name, .pokemon__id {
    font-size: clamp(20px, 23px, 26px);
}

.pokemon__name {
    text-transform: capitalize;
    color: #373737;
}

.pokemon__sprite {
    position: absolute;
    width: 50%;
    max-width: 120px;
    min-width: 100px;
    margin-bottom: 18vh;
    margin-right: 2vw;
}

.pokemon__form {
    position: absolute;
}

.pokemon__input {
    font-size: 0.7rem;
    font-weight: 900;
    display: block;
    margin-top: 18.5rem;
    margin-right: 2.5rem;
    width: 75vw;
    max-width: 310px;
    padding: 2% 1%;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: -2px 5px 0px #6c6c6c, -4px  6px 0px #000;
}

.pokemon__submit {
    font-weight: 800;
    color: #fff;
    background-color: #3a3a3a;
    display: block;
    margin-top: 15px;
    width: 75vw;
    max-width: 310px;
    padding: 2% 1%;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: -2px 5px 0px #6c6c6c, -4px  6px 0px #000;
    cursor: pointer;
}

.pokemon__submit:active {
    color: #3a3a3a;
    background-color: #fff;
    box-shadow: 0px 0px 0px;
    font-size: 0.8rem;
}

.buttons {
    position: absolute;
    width: 75vw;
    max-width: 310px;
    margin-top: 28.5rem;
    margin-right: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 5%;
}

.button {
    cursor: pointer;
    font-weight: 800;
    padding: 2%;
    width: 100%;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: -2px 5px 0px #6c6c6c, -4px  6px 0px #000;
}

.button:active {
    color: #fff;
    background-color: #373737;
    box-shadow: 0px 0px 0px #fff;
}

.error {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000c6;
    z-index: 999;
}

.alert {
    position: absolute;
    text-align: center;
    background-color: tomato;
    color: rgb(93, 16, 3);
    border: 1.5px solid rgb(93, 16, 3);
    padding: 20px 10px;
    width: 280px;
    z-index: 999;
}

.exit__cross {
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: #000;
    padding: 3px 5px;
    border-radius: 100px;
    color: #fff;
    font-weight: 900;
    font-size: 7.5px;
}

.loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #000000c6;
    z-index: 999;
}

.loading img {
    opacity: 0.65;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 1.2s ease-in-out infinite;
}

@-moz-keyframes spin { 
100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
} 
}

@media (max-width: 480px) {
    .pokemon__sprite {margin-bottom: 12vh; width: 30%; margin-right: 2.4rem;}
    .pokemon__data {margin-top: 5.40rem; margin-right: 1rem}
    .pokemon__input {max-width: 270px; margin-right: 2.35rem; margin-top: 250px}
    .pokemon__submit {max-width: 270px; margin-right: 2.35rem;}
    .buttons {max-width: 270px; margin-right: 2.35rem;}
}